<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<mat-drawer-container class="example-container" autosize ="true">
  <mat-drawer mode="side" opened  position="end">
    <mat-action-list>
      <mat-list-item *ngFor="let musique of musiques" (click)="selectVideo(musique)">
        {{musique.name}}
      </mat-list-item>
    </mat-action-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-video *ngIf="currentVideoId" [videoId]="currentVideoId"></app-video>
  </mat-drawer-content>
</mat-drawer-container>
